<form action="/posts" method="post">
  <p><label>title<br><input class="input" type="text" name="title" size="30"></label></p>
  <p><label>body (markdown)<br><textarea class="input" name="body" cols="50" rows="10"></textarea></label></p>
  <p><input class="submit" type="submit" value="Post"></p>
</form>
