<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/motley.png">
</head>
<body>
  {{> messages}}
  {{{content}}}
</body>
</html>
