body {
  font-family: Helvetica, sans-serif;
  padding: 50px;
  font-size: 1.5em;
}
input, textarea {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  font-size: 1em;
}
.submit {
  font-size: 25px;
  line-height: 25px;
  border: 0;
  margin: 0;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid grey;
  cursor: pointer;
}
.submit:hover {
  color: #e00;
}
a {
  color: #e00;
  text-decoration: none;
}
